<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.formdeigning">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/left"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Li_Layout">

        </activity>
        <activity android:name=".Rel_Layout" />
        <activity android:name=".Linear_layout" />
        <activity android:name=".Boxes" />
        <activity android:name=".Image" />
        <activity android:name=".FrameLayout" />
        <activity android:name=".RelativeLayout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>